<div class="navbar" [ngClass]="{ fixed: isFixed, opened: !collapsed }">
  <div class="container-fluid nav-container">
    <div class="d-flex justify-content-between align-items-center">
      <a class="toTop" (click)="collapsed = true" data-scroll href="#hero" class="nav-brand">
        <img src="./assets/img/logo-min.svg" alt="Appwit" class="logo" />
        <span class="logo-text"> APPWIT </span>
      </a>

      <div
        class="nav-toggle d-md-none"
        (click)="collapsed = !collapsed"
        [ngClass]="{ opened: collapsed }"
      >
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </div>

      <ul class="nav-list d-none d-md-flex justify-content-around">
        <li class="nav-item mx-2">
          <a class="nav-link" href="mailto:contacto@appwit.mx?subject=Solicitar%20información">
            Contacto
          </a>
        </li>
        <!-- <li
          class="nav-item mx-2"
          [ngClass]="{ active: inViewport === 'nosotros' }"
        >
          <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
        </li>
        <li
          class="nav-item mx-2"
          [ngClass]="{ active: inViewport === 'servicios' }"
        >
          <a class="nav-link" data-scroll href="#servicios">Servicios</a>
        </li>
        <li
          class="nav-item mx-2"
          [ngClass]="{ active: inViewport === 'tecnologia' }"
        >
          <a class="nav-link" data-scroll href="#tecnologia">Tecnología</a>
        </li>
        <li
          class="nav-item mx-2"
          [ngClass]="{ active: inViewport === 'clientes' }"
        >
          <a class="nav-link" data-scroll href="#clientes">Clientes</a>
        </li>
        <li
          class="nav-item mx-2"
          [ngClass]="{ active: inViewport === 'contacto' }"
        >
          <a class="nav-link" data-scroll href="#contacto">Contacto</a>
        </li> -->
      </ul>
    </div>

    <ul class="nav-list-collapse d-md-none" [ngClass]="{ opened: !collapsed }">
      <li class="nav-item mx-2">
        <a class="nav-link" href="mailto:contacto@appwit.mx?subject=Solicitar%20información">
          Contacto
        </a>
      </li>
      <!-- <li
        class="nav-item"
        (click)="collapsed = !collapsed"
        [ngClass]="{ active: inViewport === 'nosotros' }"
      >
        <a data-scroll href="#nosotros" class="nav-link">
          Nosotros <i class="fas fa-home"></i>
        </a>
      </li>
      <li
        class="nav-item"
        (click)="collapsed = !collapsed"
        [ngClass]="{ active: inViewport === 'servicios' }"
      >
        <a data-scroll href="#servicios" class="nav-link">
          Servicios <i class="fas fa-hands-helping"></i>
        </a>
      </li>
      <li
        class="nav-item"
        (click)="collapsed = !collapsed"
        [ngClass]="{ active: inViewport === 'tecnologia' }"
      >
        <a data-scroll href="#tecnologia" class="nav-link">
          Tecnología <i class="fas fa-laptop-code"></i>
        </a>
      </li>
      <li
        class="nav-item"
        (click)="collapsed = !collapsed"
        [ngClass]="{ active: inViewport === 'clientes' }"
      >
        <a data-scroll href="#clientes" class="nav-link">
          Clientes <i class="fas fa-users"></i>
        </a>
      </li>
      <li
        class="nav-item"
        (click)="collapsed = !collapsed"
        [ngClass]="{ active: inViewport === 'contacto' }"
      >
        <a data-scroll href="#contacto" class="nav-link">
          Contacto <i class="fas fa-at"></i>
        </a>
      </li> -->
    </ul>
  </div>
</div>
