// COLORS
$color-primary: #973a92;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 20%);

$color-secondary: #584295;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 20%);

$color-tertiary: #281b47;
$color-tertiary-dark: darken($color-tertiary, 10%);
$color-tertiary-light: lighten($color-tertiary, 20%);

$color-grey-dark: #777;
$color-text-dark: #783098;
$color-white: #f2f2f2;
$color-black: #212529;
